<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <header>
      <h1>Our recipes website</h1>
    </header>
    <main class="content">
      <nav>
        <%= link_to "Home", welcome_index_path %>
        <%= link_to "About", welcome_about_path %>
      </nav>
      <%= yield %>
    </main>

    <footer>
      <h4>Copyright <%Date.today.year %> OurRecipesWebsite</h4>
    </div>
  </body>
  </html>
